h1 {
    text-align: center;
    font-family: "Jersey 15",serif;
    color: white;
    background-color: rgb(12, 98, 211);
    padding: 50px;
    border-width: 2rem;
}

.linkbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:green;
    padding: 50px;
    grid-row: auto;
}

.linkbar {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    text-decoration: none;
    border-color: black;
}

footer {
    text-align: center;
    font-family: "Jersey 15",serif;
    font-weight: 500;
    color: white;
    background-color: rgb(12, 98, 211);
    padding: 40px;
}


.card{
    display: flex;
    align-items: : flex-start;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.card img {
    max-width: 300px; 
    max-height: 300px; 
}

.nav a:hover,
.nav a:focus {
    background-color: #084ca1; /* Same effect as hover for keyboard users */
    color: white;
}
