h1 {
    text-align: center;
    font-family: "Jersey 15",serif;
    color: white;
    background-color: rgb(12, 98, 211);
    padding: 50px;
}

.linkbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:green;
    padding: 50px;
    grid-row: auto;
}

.linkbar {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    text-decoration: none;
    border-color: black;
}

footer {
    text-align: center;
    font-family: "Jersey 15",serif;
    font-weight: 500;
    color: white;
    background-color: rgb(12, 98, 211);
    padding: 40px;
}

.card {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
}


main {
    display: flex;
    max-width: none;
    font-family: "Roboto Condensed", serif;
}

.card img {
    width: 200px;
    height: 200px;
}

section {
    background-color: aliceblue;
    gap: 20px;
    border:rgb(12, 98, 211);
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;

}


.nav a:hover,
.nav a:focus {
    background-color: #084ca1; /* Same effect as hover for keyboard users */
    color: white;
}

